# Python
__pycache__/
*.py[cod]
*.pyo
*.db

# Virtual Environment
venv/
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Exports
backend/exports/*
!backend/exports/.gitkeep